# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.next/
out/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.*.local
.cache

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Expo
.expo/
.expo-shared/
dist/

# React Native
build/
.jsbundleLockFile

# Turborepo
.turbo
